select.soflow,
select.soflow-color {
  -webkit-appearance: button;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-padding-end: 20px;
  -webkit-padding-start: 2px;
  -webkit-user-select: none;
  background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
  background-position: 97% center;
  background-repeat: no-repeat;
  border: 1px solid #AAA;
  color: #555;
  font-size: inherit;
  overflow: hidden;
  padding: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 300px;
}
select.soflow-color {
  color: #fff;
  background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#779126, #779126 40%, #779126);
  background-color: #779126;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  padding-left: 15px;
}

.butt {
	font-size: 1em;
	text-decoration: none;
	font-weight: 700;
	padding: .8em 1.5em;
	background-color: #eaeef1;
	background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.1));
	border-radius: 3px;
	color: rgba(0,0,0,.6);
	text-shadow: 0 1px 1px rgba(255,255,255,.7);
	box-shadow: 0 0 0 1px rgba(0,0,0,.2), 0 1px 2px rgba(0,0,0,.2), inset 0 1px 2px rgba(255,255,255,.7);
}

.butt:hover, .butt.hover {
	background-color: #fff;
}

.butt:active, .butt.active {
	background-color: #d0d3d6;
	background-image: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,0));
	box-shadow: inset 0 0 2px rgba(0,0,0,.2), inset 0 2px 5px rgba(0,0,0,.2), 0 1px rgba(255,255,255,.2);
}
